@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-lexend{
    font-family: 'Lexend Deca', sans-serif;  
    font-family: 'Inter', sans-serif;
}

.deep-blue{
    background-color: hsl(233, 47%, 7%);
}

.saturated-blue{
    background-color: hsl(244, 38%, 16%);
}

.bg-accent{
    background: url(../build/images/image-header-desktop.jpg);
    display: block;
    position: relative;
    
    
}

.bg-accent::after{
    content: "";
    background: hsl(277, 81%, 51%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 70%;
}

.text-accent{
    color: hsl(277, 64%, 61%);
}

.transparent-white{
    color:hsla(0, 0%, 100%, 0.75);
}
