@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
.text-lexend{
    font-family: 'Lexend Deca', sans-serif;  
    font-family: 'Inter', sans-serif;
}

.deep-blue{
    background-color: hsl(233, 47%, 7%);
}

}

@layer components{
.saturated-blue{
    background-color: hsl(244, 38%, 16%);
}


.text-accent{
    color: hsl(277, 64%, 61%);
}

.transparent-white{
    color:hsla(0, 0%, 100%, 0.75);
}
}